.risk-selector-container {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 10px 0;
  }
  
  .dropdown-label {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
  }
  
  .risk-inline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  
  .risk-dropdown {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    flex: 1;
    max-width: 150px;
  }
  
  .risk-description-inline {
    margin-left: 12px;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    flex: 3;
  }
  
  .risk-description-inline strong {
    color: #333;
    margin-right: 5px;
  }
  
  .budget-comparison {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido */
  }
  
  .budget-row {
    display: flex;
    justify-content: space-evenly; /* Centra los presupuestos en la fila */
    gap: 40px; /* Espaciado entre los presupuestos */
    margin-top: 10px;
  }
  
  .budget-item {
    text-align: center; /* Centra el texto dentro de cada presupuesto */

  }
  
  .small-text {
    font-size: 14px;
    color: #666; /* Color más sutil para el año */
  }
  
  .budget-value {
    font-size: 38px; /* Tamaño más grande para los valores */
    font-weight: bold;
    margin: 5px 0;
  }
  
  .budget-item:nth-child(1) .budget-value {
    color: #4caf50; /* Verde claro para el presupuesto del año pasado */
  }
  
  .budget-item:nth-child(2) .budget-value {
    color: #087f23; /* Verde oscuro para el presupuesto esperado */
  }