
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.dashboard {

  margin-left: 200px;
  padding: 20px;
  background-color: #f8f9fa;
  overflow-y: auto;
  flex-grow: 1;
  height: 100vh;

}

.dashboard-header {
  margin-top: 70px;
  margin-bottom: 20px;
}

.dashboard-header h1 {
  font-size: 24px;
  color: #333;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.dashboard-grid > div:nth-child(1){
  grid-column: span 1;
}
.dashboard-grid > div:nth-child(2) {
  grid-column: span 1; /* Cada uno ocupa una columna */
}

.dashboard-grid > div:nth-child(3) {
  grid-column: span 2; /* El tercer componente ocupa ambas columnas en la fila inferior */
}


