.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.dashboard-grid > div:nth-child(1){
  grid-column: span 1;
}
.dashboard-grid > div:nth-child(2) {
  grid-column: span 1;
}

.dashboard-grid > div:nth-child(3) {
  grid-column: span 2;
}
.dashboard-grid > div:nth-child(4) {
  grid-column: span 2;
}
.dashboard-grid > div:nth-child(5) {
  grid-column: span 2;
}
.dashboard-grid > div:nth-child(6) {
  grid-column: span 2;
}
.dashboard-grid > div:nth-child(7) {
  grid-column: span 2;
}

.main-layout {
  display: flex;
  flex: 1;
}

.dashboard {
  flex: 1;
  padding: 20px;
  background-color: #f4f5f9;
}

.dashboard-header h1 {
  margin: 0;
  color: #333;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.energy-section,
.green-energy,
.stats-section {
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}



/* Estilos principales para toda la app */
.app-container {
  display: flex; /* Coloca el Sidebar y el contenido principal lado a lado */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 0;
}

.sidebar {
  background-color: #1e5631; /* Fondo verde oscuro */
  color: #fff;
  width: 200px; /* Ancho fijo del Sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.main-content {
  flex: 1; /* El contenido principal ocupa el resto del espacio */
  background-color: #e8f5e9; /* Fondo verde claro */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.white-box {
  background-color: #fff;
  margin-top: 35px;
  width: 100%; /* Ajusta el ancho del recuadro blanco */
  /*max-width: 1500px;*/ /* Ancho máximo */
  height: 100%; /* Ocupa el 80% de la altura del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  padding: 20px;
  overflow-y: auto; /* Si el contenido se desborda, muestra scroll */
}

.titol{
  margin-top: 0px;
  margin-bottom: 20px;
}
.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}
.chart-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #1e5631;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chart-button:hover {
  background-color: #50b83c;
}
.chart-button.active {
  background-color: #50b83c; /* Nuevo color cuando está activo */
  color: #fff; /* Asegura que el texto sea blanco */
}






